.push-forms {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 33vh;
    padding-top: 15%;
}

.push-forms label {
    display: block;
    font-size: 15.5pt;
    line-height: 1.2em;
    padding-bottom: .4em;
}

.push-forms button {
    padding: 6px 20px 8px;
    background-color: #485bc3;
    color: white;
    font-size: 15pt;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

.push-forms input {
    display: block;
    width: 100%;
    padding: 5px 15px;
    text-align: center;
    font-size: 13pt;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    margin: 15px auto;
}

.push-forms .button-holder {
    display: inline-block;
    padding: 2px 0 0;
}

.push-forms .button-holder:hover {
    display: inline-block;
    padding: 0 0 2px;
}
.push-forms .button-holder:hover button {
    box-shadow: 0px 4px 10px rgba(0,0,0,.3);
}

#page-content {
    width: 100%;
}
