<!DOCTYPE html>
<html>
<body>

<div data-th-fragment="fragment-push" data-th-remove="tag">
    <div id="page-content">
        <form class="push-forms subscribe"
              id="subscribe-form"
              data-th-action="${subscribeUrl}"
              th:attr="data-public-key=${publicKey}"
              onSubmit="return false;">
            <label id="subscribe-status">Subscribe to notifications</label>
            <div class="button-holder"><button id="subscribe-button">Subscribe</button></div>
        </form>

        <form class="push-forms push disabled" id="push-form" data-th-action="${pushUrl}" onSubmit="return false;">
            <label>Notify subscribers</label>
            <input type="text" id="push-field" name="message" autocomplete="off" placeholder="Say something..." />
            <div class="button-holder"><button id="push-button">Push</button></div>
            <p>For demonstration purposes.<br />Allowing the client to send push notifications to all subscribers is usually not recommended.</p>
        </form>

    </div>

    <div data-th-replace="/templates/fragments/common::fragment-no-javascript"></div>

    <script defer data-th-src="${portal.assetUrl({'_path=js/push.js'})}" type="text/javascript"></script>
</div>


</body>

</html>
