<!DOCTYPE html>
<html>
<body>

<div data-th-fragment="fragment-push" data-th-remove="tag">
    <div id="page-content">
        <p>Push Notifications test</p>

        <form>
            <label>Subscribe to notifications</label>
            <button id="subscribe-button">Yes please</button>
        </form>

        <form>
            <label>Push notification</label>
            <input type="text" name="message" placeholder="Write a notification message here..." />
            <button id="push-button">Send</button>
        </form>
    </div>

    <div data-th-replace="/templates/fragments/common::fragment-no-javascript"></div>

    <div id="push-subscription-data" style="display:none;"
         th:attr="data-subscription-url=${subscriptionUrl},data-push-url=${pushUrl},data-public-key=${publicKey}">
    </div>

    <script defer data-th-src="${portal.assetUrl({'_path=js/main.js'})}" type="text/javascript"></script>
</div>


</body>

</html>
