<script type="text/javascript">

let cssLoaded = 0;
let cssAdded = 0;

function removeInlineStyles() {
    const styleEl = document.getElementsByTagName('style')[0];
    styleEl.parentNode.removeChild(styleEl);
}

function addLinkElToHead(src) {
    const link = document.createElement('link');
    link.setAttribute('rel', 'stylesheet');
    link.setAttribute('type', 'text/css');
    link.setAttribute('href', src);
    link.onload = () => {
        cssLoaded++;
        if (cssLoaded === cssAdded) {
            removeInlineStyles();
        }
    }
    document.getElementsByTagName('head')[0].appendChild(link);
    cssAdded++;
}
</script>
