<!DOCTYPE html>
<html>
<body>

<div data-th-fragment="fragment-site-menu" data-th-remove="tag">
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title" data-th-utext="${title}"></span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" data-th-href="${appUrl}" data-th-classappend="${pageId == 'main' ? 'mdl-typography--font-black' : ''}">Home</a>
            <a class="mdl-navigation__link" data-th-href="${appUrl + '/about'}" data-th-classappend="${pageId == 'about' ? 'mdl-typography--font-black' : ''}">About</a>
            <a class="mdl-navigation__link" data-th-href="${appUrl + '/contact'}" data-th-classappend="${pageId == 'contact' ? 'mdl-typography--font-black' : ''}">Contact</a>
        </nav>
        <p class="app-version" data-th-utext="${'v.' + version}"></p>
    </div>
</div>

<div data-th-fragment="fragment-page-main" data-th-remove="tag">
    <img id="icon-online" class="icon-status" data-th-src="${portal.assetUrl({'_path=precache/icons/online.svg'})}" alt="Online">
    <img id="icon-offline" class="icon-status" data-th-src="${portal.assetUrl({'_path=precache/icons/offline.svg'})}" alt="Offline">
    <div data-th-replace="fragments::fragment-no-javascript"></div>
</div>


<div data-th-fragment="fragment-page-common" data-th-remove="tag">
    <div id="page-content">
        <div data-th-if="${pageId == 'about'}" data-th-remove="tag">
            This is the About page
        </div>
        <div data-th-if="${pageId == 'contact'}" data-th-remove="tag">
            This is the Contact page
        </div>
    </div>
    <div id="content-offline">
        You are now offline but this page is still available
    </div>
    <div data-th-replace="fragments::fragment-no-javascript"></div>
</div>

<div data-th-fragment="fragment-no-javascript" data-th-remove="tag">
    <noscript>
        <p id="js-disabled">Javascript is disabled. PWA features of this application are not available.</p>
    </noscript>
</div>

</body>
</html>