name: Build

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: enonic/action-app-build@v1
      
      - uses: codecov/codecov-action@v5
